.popup-form__item {
    border: 0;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    line-height: 2.4;
    font-weight: 400;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 500px) {
    .popup-form__item {
        min-height: 35px;
    }
}

/* .popup-form__item:invalid {
    border-bottom: 1px solid #FF0000;
}

.popup-form__item:hover {
    border-bottom-color: #000;
  }

  .popup-form__item:focus {
    border-bottom-color: #007DFF;
  } */