.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    background: none;
    outline: none;
}

@media (max-width: 800px) {
    .profile__add-button {
        margin: 0;
        width: 50%;
        min-width: 282px;
    }
}

@media (max-width: 319px) {
    .profile__add-button {
        min-width: 100%;
    }
}